@model Team7ADProjectMVC.Requisition

@{
    ViewBag.Title = "Delete";
    Layout = "~/_Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Requisition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
