
@model Team7ADProjectMVC.Requisition

@{
    ViewBag.Title = "Create";
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Make Requisition";
    Employee currentEmployee = (Employee)Session["User"];
    Page.Employee = currentEmployee;

    //Author: Edwin

}

@using Team7ADProjectMVC.Extensions

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.EditorFor(x => x)
    </div>
    <h3>Items To Order</h3>
    @*<div class="row">
        <div class="col-md-5">
            <input type="button" id="add-detail" value="Add " class="btn btn-default" />
        </div>
    </div>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="col-md-3  ">ItemNo</div>
                </th>
                <th>
                    <div class="col-md-3 ">Quantity</div>
                </th>
            </tr>
        <thead />
    </table>
        <div id="detail-list">
            @Html.EditorForMany(x => x.RequisitionDetails)
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-12 text-right">

                    <button type="button" id="add-detail" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Another Item</button>
                    <input type="submit" value="Submit For Approval" class="btn btn-success" />
                    <button type="button" class="btn btn-default" onclick="window.history.back()">Back</button>
                </div>
            </div>
        </div>
}



<br />

<div>
    @if (ViewBag.Error != null)
    {
    <!-- Show warning message -->
        <div id="ErrorMessage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Failed to submit requisition</h4>
                    </div>

                    <div class="modal-body">
                        <h5>@ViewBag.Error</h5>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>

                </div>
            </div>
        </div>

        <script>
            $(function ShowModal() {
                $('#ErrorMessage').modal('toggle');
            });
        </script>
    }
</div>


<script>
    jQuery(document).ready(function ($) {
        $('#add-detail').on('click', function () {
            jQuery.get('/Stationery/AddDetail').done(function (html) {
                $('#detail-list').append(html);
            });
        });
        $('#detail-list').on('click', '.delete-detail', function () {
            var EntryToRemove = $(this).closest('.editorRow');
            EntryToRemove.prev('input[type=hidden]').remove();
            EntryToRemove.remove();
        });

        document.getElementById("menu12").className += "active";
    });

    
</script>
