@model  PagedList.IPagedList<Team7ADProjectMVC.DisbursementList>

@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "View Disbursements";
    Employee currentEmployee = (Employee)Session["User"];
    Page.Employee = currentEmployee;

    //Author: Edwin
}
@using PagedList.Mvc;

<div class="container-fluid">
    <nav class="navbar navbar-default">
        <form role="form" class="navbar-form row" action="ViewDisbursements">
            <div class="form-group col-md-5">
                <select id="deptNdeliveryPicker" name="id"
                        class="selectpicker show-tick form-control"
                        data-live-search="true" title="Search by department">
                    @foreach (var item in @ViewBag.Departments)
                    {
                        <option value="@item.DepartmentId">@item.DepartmentName </option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2">
                <select id="statusPicker" name="status"
                        class="selectpicker form-control"
                        data-live-search="true" title="Status">
                    <option value="Processing">Processing</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            
                <input class="btn btn-success" type="submit" value="Search" />
            <input class="btn btn-info" type="button" value="Reallocate Previous" onclick="window.location.href='/Store/ReallocateDisbursements'" />
                <input class="btn btn-default" type="button" value="Show All" onclick="window.location.href='/Store/ViewDisbursements'" />
           

        </form>
    </nav>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Department
                </th>
                <th>
                    Delivery Location
                </th>
                <th>
                    Delivery Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-href="ViewDisbursement/@item.DisbursementListId">
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.CollectionPoint.PlaceName)
                    </td>
                    <td>
                        @item.DeliveryDate.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ViewDisbursements",
    new { page, id= ViewBag.Id , status = ViewBag.Status }))
</center>
<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });


        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
                
        $('#deptNdeliveryPicker').selectpicker('val', getUrlVars()["id"]);
        $('#statusPicker').selectpicker('val', getUrlVars()["status"]);
        document.getElementById("menu2").className += "active";
    });
</script>